
/* body for font/font size */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* setting text area and initial color */
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* jumbotron and header information */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* description used in the textarea */
.description{
  white-space: pre-wrap;
}

/* sets initial time block to center */
.time-block{
  text-align: center;
  border-radius: 15px;
  
}
/* Sets all divs for consistency */
.div {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: black;
}

/* sets all rows for consistent height and borders */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  
}

/* hour font left column */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* color change for the past event */
.past {
  background-color: #d3d3d3;
  color: white;
}
 /* color change for the present time event */
.present {
  background-color: #ff6961;
  color: white;
}

/* color change for the future time event */
.future {
  background-color: #77dd77;
  color: white;
}

/* standardized save button */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

/* hover behavior for save button */
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
